<!DOCTYPE html>
<h1 class="home-title">
    <rs-layer-wrap class="rs-parallax-wrap" style="position: absolute; display: block; pointer-events: auto; left: 100px; top: 100px; perspective: 100px;">
        <rs-layer id="slider-22-slide-63-layer-2" data-type="text" data-color="rgba(210, 166, 113, 1)" data-rsp_ch="on" data-xy="x:r;xo:20px;y:80px;" data-text="w:normal;s:70;l:70;" data-dim="w:558px;h:156px;" data-frame_0="y:100%;tp:600;" data-frame_0_mask="u:t;y:100%;" data-frame_1="tp:600;e:power2.inOut;st:500;sp:2000;sR:500;" data-frame_1_mask="u:t;" data-frame_999="o:0;tp:600;e:nothing;st:w;sR:6500;" style="z-index: 6; font-family: &quot;Playfair Display&quot;; color: rgb(210, 166, 113); text-decoration: none; white-space: normal; width: 388px; height: 109px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; text-align: left; line-height: 49px; letter-spacing: 0px; font-weight: 300; font-size: 49px; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px); visibility: visible;" class="rs-layer" data-idcheck="true" data-stylerecorder="true" data-initialised="true">
            <span style="text-align: left; line-height: 20px;  font-weight: 100; font-size: 60px;" data-stylerecorder="true">
                La
            </span>
</h1>

<h1 class="home-title">
    <rs-layer-wrap class="rs-parallax-wrap" style="position: absolute; display: block; pointer-events: auto; left: 140px; top: 100px; perspective: 100px;">
        <rs-layer id="slider-22-slide-63-layer-2" data-type="text" data-color="rgba(210, 166, 113, 1)" data-rsp_ch="on" data-xy="x:r;xo:20px;y:80px;" data-text="w:normal;s:70;l:70;" data-dim="w:558px;h:156px;" data-frame_0="y:100%;tp:600;" data-frame_0_mask="u:t;y:100%;" data-frame_1="tp:600;e:power2.inOut;st:500;sp:2000;sR:500;" data-frame_1_mask="u:t;" data-frame_999="o:0;tp:600;e:nothing;st:w;sR:6500;" style="z-index: 6; font-family: &quot;Playfair Display&quot;; color: rgb(210, 166, 113); text-decoration: none; white-space: normal; width: 388px; height: 109px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; text-align: left; line-height: 49px; letter-spacing: 0px; font-weight: 300; font-size: 49px; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px); visibility: visible;" class="rs-layer" data-idcheck="true" data-stylerecorder="true" data-initialised="true">
            <span style="text-align: left; line-height: 200px;  font-weight: 100; font-size: 60px;" data-stylerecorder="true">
                Moda pasa,
            </span>
</h1>

<h1 class="home-title">
    <rs-layer-wrap class="rs-parallax-wrap" style="position: absolute; display: block; pointer-events: auto; left: 230px; top: 100px; perspective: 100px;">
        <rs-layer id="slider-22-slide-63-layer-2" data-type="text" data-color="rgba(210, 166, 113, 1)" data-rsp_ch="on" data-xy="x:r;xo:20px;y:80px;" data-text="w:normal;s:70;l:70;" data-dim="w:558px;h:156px;" data-frame_0="y:100%;tp:600;" data-frame_0_mask="u:t;y:100%;" data-frame_1="tp:600;e:power2.inOut;st:500;sp:2000;sR:500;" data-frame_1_mask="u:t;" data-frame_999="o:0;tp:600;e:nothing;st:w;sR:6500;" style="z-index: 6; font-family: &quot;Playfair Display&quot;; color: rgb(210, 166, 113); text-decoration: none; white-space: normal; width: 388px; height: 109px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; text-align: left; line-height: 49px; letter-spacing: 0px; font-weight: 300; font-size: 49px; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px); visibility: visible;" class="rs-layer" data-idcheck="true" data-stylerecorder="true" data-initialised="true">
            <span style="text-align: left; line-height: 350px;  font-weight: 100; font-size: 60px;" data-stylerecorder="true">
                El
            </span>
</h1>

<h1 class="home-title">
    <rs-layer-wrap class="rs-parallax-wrap" style="position: absolute; display: block; pointer-events: auto; left: 180px; top: 100px; perspective: 100px;">
        <rs-layer id="slider-22-slide-63-layer-2" data-type="text" data-color="rgba(210, 166, 113, 1)" data-rsp_ch="on" data-xy="x:r;xo:20px;y:80px;" data-text="w:normal;s:70;l:70;" data-dim="w:558px;h:156px;" data-frame_0="y:100%;tp:600;" data-frame_0_mask="u:t;y:100%;" data-frame_1="tp:600;e:power2.inOut;st:500;sp:2000;sR:500;" data-frame_1_mask="u:t;" data-frame_999="o:0;tp:600;e:nothing;st:w;sR:6500;" style="z-index: 6; font-family: &quot;Playfair Display&quot;; color: rgb(210, 166, 113); text-decoration: none; white-space: normal; width: 388px; height: 109px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; text-align: left; line-height: 49px; letter-spacing: 0px; font-weight: 300; font-size: 49px; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px); visibility: visible;" class="rs-layer" data-idcheck="true" data-stylerecorder="true" data-initialised="true">
            <span style="text-align: left; line-height: 480px;  font-weight: 100; font-size: 60px;" data-stylerecorder="true">
                Estilo es 
            </span>
</h1>

<h1 class="home-title">
    <rs-layer-wrap class="rs-parallax-wrap" style="position: absolute; display: block; pointer-events: auto; left: 200px; top: 100px; perspective: 100px;">
        <rs-layer id="slider-22-slide-63-layer-2" data-type="text" data-color="rgba(210, 166, 113, 1)" data-rsp_ch="on" data-xy="x:r;xo:20px;y:80px;" data-text="w:normal;s:70;l:70;" data-dim="w:558px;h:156px;" data-frame_0="y:100%;tp:600;" data-frame_0_mask="u:t;y:100%;" data-frame_1="tp:600;e:power2.inOut;st:500;sp:2000;sR:500;" data-frame_1_mask="u:t;" data-frame_999="o:0;tp:600;e:nothing;st:w;sR:6500;" style="z-index: 6; font-family: &quot;Playfair Display&quot;; color: rgb(210, 166, 113); text-decoration: none; white-space: normal; width: 388px; height: 109px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; text-align: left; line-height: 49px; letter-spacing: 0px; font-weight: 300; font-size: 49px; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px); visibility: visible;" class="rs-layer" data-idcheck="true" data-stylerecorder="true" data-initialised="true">
            <d style="text-align: left; line-height: 640px;  font-weight: 100; font-size: 60px;" data-stylerecorder="true">
                Eterno.
            </d>
</h1>


@RenderBody()

